.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools ul img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 .5rem;
}
.personal h3 {
    margin: 1.5rem 8rem;
}

.skills .personal ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem; 
    list-style-type: disc;
    padding-right: 4rem;
   
}

.skills .personal ul li {
    margin-left: 0;
    padding: .5rem;
    list-style-position: inside;
    white-space: nowrap; 
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
